{% extends "base.html" %}

{% block content %}
<h3>Сделано за 23/06</h3>
<ul>
    <li>Ограничение и проверка дат</li>
    <li>Авторизация</li>
    <li>Динамичекая цена в заказе</li>
</ul>
<h3>Что должно работать✔</h3>
Клиенты
<ul>
    <li>Удаление</li>
    <li>Редактирование</li>
    <li>Добавление</li>
    <li>Более подробная информация</li>
</ul>
Поставщики
<ul>
    <li>Удаление</li>
    <li>Редактирование</li>
    <li>Добавление</li>
    <li>Более подробная информация</li>
</ul>
Производители
<ul>
    <li>Удаление</li>
    <li>Редактирование</li>
    <li>Добавление</li>
    <li>Более подробная информация</li>
</ul>
Поставки
<ul>
    <li>Удаление</li>
    <li>Редактирование</li>
    <li>Добавление</li>
    <li>Более подробная информация</li>
</ul>
Товары
<ul>
    <li>Удаление</li>
    <li>Редактирование</li>
    <li>Добавление</li>
    <li>Более подробная информация</li>
</ul>
Договоры с поставщиками
<ul>
    <li>Удаление</li>
    <li>Редактирование</li>
    <li>Добавление</li>
    <li>Более подробная информация</li>
</ul>
Склад
<ul>
    <li>Редактирование(только после аунтификации)</li>
    <li>Более подробная информация</li>
</ul>
<h3>На что обратить внимание</h3>
<ul>
    <li>Если вверху страницы написано <b>Redesign required</b> желательно скинуть ссылку на страницу</li>
    <li>Любые элементы интерфейса на английском(их быть не должно)</li>
    <li>Кривой/съехавший/некрасивый интерфейс</li>
    <li>Поля ввода,где нужно указать число, но получается ввести буквы</li>
    <li>Странное поведение страницы например: после добавления клиента кидает на страницу заказов</li>
</ul>
{% endblock %}
