{% extends "base.html" %}

{% block content %}
<div class="alert alert-danger" role="alert">
    Redesign required
</div>
{% ifequal  org_type "client" %}
<h1>Клиенты</h1>
<a href="/add/client" class="btn btn-primary  btn-sm">Добавить клиента</a>
{% endifequal %}
{% ifequal  org_type "manufacturer" %}
<h1>Производители</h1>
<a href="/add/manufacturer" class="btn btn-primary  btn-sm">Добавить производителя</a>
{% endifequal %}
{% ifequal  org_type "supplier" %}
<h1>Поставщики</h1>
<a href="/add/supplier" class="btn btn-primary  btn-sm">Добавить поставщика</a>
{% endifequal %}
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {% if clients %}
    {% for client in clients %}
    <tr onclick="window.location.assign('/client/{{client.id}}');">
        <th>{{client.id}}</th>
        <td>
            {{client.name}}
        </td>
        <td>
            <a href="/client/{{ client.id }}">View</a>
        </td>
        <td>
            <a href="/edit/client/{{ client.id }}">Edit</a>
        </td>
        <td>
            <a href="/remove/client/{{ client.id }}">Remove</a>
        </td>
    </tr>
    {% endfor %}
    {% elif manufacturers %}
    {% for manufacturer in manufacturers %}
    <tr>
        <th>{{manufacturer.id}}</th>
        <td>
            {{manufacturer.name}}
        </td>
        <td>
            <a href="/manufacturer/{{ manufacturer.id }}">View</a>
        </td>
        <td>
            <a href="/edit/manufacturer/{{ manufacturer.id }}">Edit</a>
        </td>
        <td>
            <a href="/remove/manufacturer/{{ manufacturer.id }}">Remove</a>
        </td>
    </tr>
    {% endfor %}
    {% elif suppliers %}
    {% for supplier in suppliers %}
    <tr>
        <th>{{supplier.id}}</th>
        <td>
            {{supplier.name}}
        </td>
        <td>
            <a href="/supplier/{{ supplier.id }}">View</a>
        </td>
        <td>
            <a href="/edit/supplier/{{ supplier.id }}">Edit</a>
        </td>
        <td>
            <a href="/remove/supplier/{{ supplier.id }}">Remove</a>
        </td>
    </tr>
    {% endfor %}
    {% endif %}
    </tbody>
</table>
{% endblock %}
