{% extends "base.html" %}

{% block content %}

{% if client %}
<ul class="list-group row">>
    <li class="list-group-item">ID: {{ client.id }}</li>
    <li class="list-group-item">Наименование: {{ client.name }}</li>
    <li class="list-group-item">Директор: {{ client.director }}</li>
    <li class="list-group-item">Адрес: {{ client.address }}</li>
    <li class="list-group-item">Телефон: {{ client.phone }}</li>
    <li class="list-group-item">ИНН: {{ client.tin }}</li>
    <li class="list-group-item">Банковские данные: {{ client.bank_details }}</li>
    <li class="list-group-item">Заметки: {{ client.notes }}</li>
</ul>
<button type="button" onclick="window.location.assign('/clients');" class="btn btn-outline-secondary">К списку
    клиентов
</button>
<button type="button" onclick="window.location.assign('/remove/client/{{client_data.id}}');"
        class="btn btn-outline-warning">Удалить
</button>
<button type="button" onclick="window.location.assign('/edit/client/{{client_data.id}}');"
        class="btn btn-outline-primary">Отредактировать
</button>
{% elif manufacturer %}
<h1>Данные по производителю {{manufacturer.name}}(ID:{{manufacturer.id}})</h1>
<ul>
    <li class="list-group-item">ID: {{ manufacturer.id }}</li>
    <li class="list-group-item">Наименование: {{ manufacturer.name }}</li>
    <li class="list-group-item">Директор: {{ manufacturer.director }}</li>
    <li class="list-group-item">Главный бухгалтер: {{ manufacturer.accountant }}</li>
    <li class="list-group-item">Адрес: {{ manufacturer.address }}</li>
    <li class="list-group-item">Телефон: {{ manufacturer.phone }}</li>
    <li class="list-group-item">Факс: {{ manufacturer.fax }}</li>
    <li class="list-group-item">ИНН: {{ manufacturer.tin }}</li>
    <li class="list-group-item">Банковские данные: {{ manufacturer.bank_details }}</li>
    <li class="list-group-item">Заметки: {{ manufacturer.notes }}</li>
</ul>
<button type="button" onclick="window.location.assign('/manufacturers');" class="btn btn-outline-secondary">К списку
    производителей
</button>
<button type="button" onclick="window.location.assign('/remove/manufacturer/{{manufacturer_data.id}}');"
        class="btn btn-outline-warning">Удалить
</button>
<button type="button" onclick="window.location.assign('/edit/manufacturer/{{manufacturer_data.id}}');"
        class="btn btn-outline-primary">Отредактировать
</button>
{% elif supplier %}
<h1>Данные по поставщику {{supplier.name}}(ID:{{supplier.id}})</h1>
<ul>
    <li class="list-group-item">ID: {{ supplier.id }}</li>
    <li class="list-group-item">Наименование: {{ supplier.name }}</li>
    <li class="list-group-item">Директор: {{ supplier.director }}</li>
    <li class="list-group-item">Главный бухгалтер:: {{ supplier.accountant }}</li>
    <li class="list-group-item">Адрес: {{ supplier.address }}</li>
    <li class="list-group-item">Телефон: {{ supplier.phone }}</li>
    <li class="list-group-item">Факс: {{ supplier.fax }}</li>
    <li class="list-group-item">ИНН: {{ supplier.tin }}</li>
    <li class="list-group-item">Банковские данные: {{ supplier.bank_details }}</li>
    <li class="list-group-item">Заметки: {{ supplier.notes }}</li>
</ul>
<button type="button" onclick="window.location.assign('/suppliers');" class="btn btn-outline-secondary">К списку
    поставщиков
</button>
<button type="button" onclick="window.location.assign('/remove/supplier/{{supplier.id}}');"
        class="btn btn-outline-warning">Удалить
</button>
<button type="button" onclick="window.location.assign('/edit/supplier/{{supplier.id}}');"
        class="btn btn-outline-primary">Отредактировать
</button>
{% else %}
<li class="list-group-item">Хто я?</li>
{% endif %}
{% endblock %}
