{% extends "base.html" %}

{% block content %}
<h1 class="display-5">Клиенты</h1>
<a href="/add/client" class="btn btn-primary  btn-sm">Добавить клиента</a>
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Наименование</th>
        <th scope="col">Директор</th>
        <th scope="col">Адрес</th>
        <th scope="col">ИНН</th>
    </tr>
    </thead>
    <tbody>
    {% for client in clients %}
    <tr onclick="window.location.assign('/client/{{client.id}}');">
        <th>{{client.id}}</th>
        <td>
            {{client.name}}
        </td>
        <td>
            {{client.director}}
        </td>
        <td>
            {{client.address}}
        </td>
        <td>
            {{client.tin}}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
