{% extends "base.html" %}

{% block content %}

<h1>Редактирование данных клиента</h1>
{% if client %}
<form method="post">{% csrf_token %}
    <div class="form-group">
        <label class="form-label" for="client_id">Client ID</label>
        <input aria-describedby="client_id" class="form-control" disabled id="client_id" type="text"
               value="{{client.id}}">
    </div>
    <div class="form-group">
        <label class="form-label" for="name">Наименование</label>
        <input class="form-control" id="name" name="name" type="text" value="{{client.name}}">
    </div>
    <div class="form-group">
        <label class="form-label" for="director">Директор</label>
        <input class="form-control" id="director" name="director" type="text" value="{{client.director}}">
    </div>
    <div class="form-group">
        <label class="form-label" for="address">Адрес</label>
        <input class="form-control" id="address" name="address" type="text" value="{{client.address}}">
    </div>
    <div class="form-group">
        <label class="form-label" for="phone">Телефон</label>
        <input class="form-control" id="phone" name="phone" type="text" value="{{client.phone}}">
    </div>
    <div class="form-group">
        <label class="form-label" for="TIN">Инн</label>
        <input class="form-control" id="TIN" name="TIN" type="text" value="{{client.TIN}}">
    </div>
    <div class="form-group">
        <label class="form-label" for="notes">Заметки</label>
        <textarea class="form-control" id="notes" name="notes" rows="5">{{client.notes}}</textarea>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>
{% endif %}
{% endblock %}
