{% extends "base.html" %}
{% block head %}
<script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{% endblock %}
{% block content %}
<form method="post">{% csrf_token %}
    <div class="input-group mb-3" id="client_select">
        <label class="form-label" for="inputContractSelect">Контракт</label>
        <select class="form-select" id="inputContractSelect" name="contract_id"
                {% ifequal specific_contract True %} disabled{% endifequal %} required>
            {% ifnotequal specific_contract True %}
            {% for contract in contract_data %}
            <option value="{{contract.id}}">{{contract.id}} (Поставщик: {{contract.supplier.name}})</option>
            {% endfor %}
            {% endifnotequal %}
            {% ifequal specific_contract True %}
            <option value="{{contract_data.id}}" selected>{{contract_data.id}} (Поставщик:
                {{contract_data.supplier.name}})
            </option>
            {% endifequal %}
        </select>
    </div>
    <div class="input-group mb-3">
        <label class="form-label" for="inputMerchSelect">Товар</label>
        <select class="form-select" id="inputMerchSelect" name="merch_id" required>
            {% for merch in merch_data %}
            <option value="{{merch.id}}">{{merch.name}} (ID: {{merch.id}})</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-floating">
        <input type="date" class="form-control" id="supply_order_delivery_date" name="supply_order_delivery_date"
               required>
        <label for="supply_order_delivery_date">Дата поставки</label>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Кол-во</span>
        </div>
        <input type="number" class="form-control" required aria-label="Кол-во"
               aria-describedby="amount" min="0" id="amount" name="amount" required>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Итого</span>
        </div>
        <input type="text" class="form-control" aria-label="total"
               aria-describedby="total" id="total" name="total" disabled>
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>
<script>
    var merch_price = 0;
    function update_total() {
        var amount = document.getElementById('amount').value;
        document.getElementById('total').value = merch_price * amount + " руб";
    }

    function update_merch_price() {
        $.ajax({
            url: '/ajax/merchandise/price/' + document.getElementById('inputMerchSelect').value,
            data: {},
            dataType: 'json',
            success: function (data) {
                merch_price = data.price;
                console.log(merch_price);
                update_total();
            }
        });
    }

    $(document).ready(function () {
        $('.form-select').select2();
    });
    $("#amount").change(function () {
        update_total();
    });
    $("#inputMerchSelect").change(function () {
        update_merch_price();
    });
    $("#inputContractSelect").change(function () {
        $.ajax({
            url: '/ajax/contract/dates/' + document.getElementById('inputContractSelect').value,
            data: {},
            dataType: 'json',
            success: function (data) {
                $('#supply_order_delivery_date').attr('min', data.start);
                $('#supply_order_delivery_date').attr('max', data.end);
                console.log(data);
            }
        });
    });
</script>
{% endblock %}
