{% extends "base.html" %}
{% block head %}
<script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{% endblock %}
{% block content %}

<div class=".container-md position-absolute top-50 start-50 translate-middle">
    <div class="alert alert-danger" role="alert">
        Redesign required
    </div>
    <h1>Редактирование товара</h1>
    <form method="post">{% csrf_token %}
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="merch_name" name="name" value="{{merch_data.name}}"
                   placeholder=" " required>
            <label for="merch_name">Наименование товара</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="merch_price" name="price" value="{{merch_data.price}}"
                   placeholder=" " required>
            <label for="merch_price">Цена</label>
        </div>
        <div class=" mb-3">`
            <label class="form-label" for="inputManufacturerSelect">Производитель</label>
            <select class="form-select" id="inputManufacturerSelect" name="manufacturer" required>
                <option selected>Выберите производителя</option>
                {% for manufacturer in manufacturers_data %}
                <option value="{{manufacturer.id}}"
                        {% ifequal merch_data.manufacturer.id manufacturer.id %} selected {% endifequal %}>
                    {{manufacturer.name}} (ID: {{manufacturer.id}})
                </option>
                {% endfor %}
            </select>
        </div>
        <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" name="description" id="description"
                      style="height: 100px" required>{{merch_data.description}}</textarea>
            <label for="description">Характеристики</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<script>
    $(document).ready(function () {
        $('.form-select').select2();
    });
</script>
{% endblock %}
